.blogPosts {
    background-size: cover;
    color: white;
    padding: 70px 0 0 0;
    position: relative;
    overflow-x: hidden;
}

.blogPosts .background {
    width: 100%;
    height: 488px;
    position: absolute;
    top: 0;
    z-index: -100;
}

.blogPosts .allPostsCta {
    color: white;
    font-family: 'Martel', serif;
    font-weight: 700;
}

.blogPosts .allPostsCta:hover {
    color: white;
}

.blogPosts .allPostsCta svg {
    margin-right: 15px;
}

.blogPosts .postsGrid {
    display: flex;
    overflow-x: hidden;
    height: 497px;
    width: 1315px; 
    padding-right: 200px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.blogPosts .post {
    width: 375px;
    height: 261px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    flex: none;
    margin-right: 15px;
    scroll-snap-align: start;
    pointer-events: none;
}

.blogPosts .details {
    background-color: white;
    padding: 30px;
    text-align: center;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px 60px;
}

.blogPosts .details .category {
    background-color: $azul-4;
    font-family: 'Martel', serif;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    padding: 5px 10px;
    color: white;
}

.blogPosts .details h4 {
    font-size: 20px;
    color: black;
    font-family: 'Martel', serif;
    font-weight: 900;
}

.blogPosts .details p {
    margin-bottom: 0;
}

.blogPosts .details a{
    color: grey;
    pointer-events: visible;
}